html {
  font-size: 62.5%;
  scrollbar-gutter: stable;
}

@media (max-width: 450px) {
  html {
    font-size: 25%;
  }
}

.scrollLock {
  overflow: hidden;
}

*:focus {
  outline: 2px solid rgb(255, 240, 230);
  outline-offset: 3px;
}
