.card {
  width: 300px;
  display: grid;
  margin: 15px;
  grid-template-columns: 300px;
}

.cardFooter {
  display: grid;
  grid-template-columns: 103px 103px;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: #ff6200;
  background: #f7bb7a;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  transition: background-color 0.5s linear;
}

.button:hover {
  background-color: #fd992e;
  transition: background-color 0.1s linear;
}

.description {
  color: gray;
}

.img {
  border-radius: 25%;
  transition: transform 0.5s;
}

.img:hover {
  transform: translateY(10px);
}

.cost {
  font-weight: bold;
}