.card {
  width: 300px;
  display: grid;
  margin: 15px;
  grid-template-columns: 300px;
}

.cardFooter {
  display: grid;
  grid-template-columns: 200px 103px;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: rgb(209, 87, 0);
  background: rgb(255, 240, 230);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  transition: background-color 0.5s linear;
}

.button:hover,
.rightButton:hover,
.leftButton:hover,
.counter:hover {
  cursor: pointer;
  background-color: rgb(255, 210, 179);
  transition: background-color 0.1s linear;
}

.titleOfProduct {
  cursor: pointer;
}

.description {
  color: gray;
}

.img {
  border-radius: 5px;
  transition: transform 0.5s;
}

.img:hover {
  cursor: pointer;
  transform: translateY(5px);
}

.cost {
  font-weight: bold;
}

.cardFooterBasket {
  display: grid;
  grid-template-columns: 65px 90px 95px 50px;
  justify-content: space-between;
  align-items: center;
}

.buttonGroupBasket {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: stretch;
  align-items: center;
}

.leftButton {
  color: rgb(209, 87, 0);
  background: rgb(255, 240, 230);
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-style: none;
  transition: background-color 0.5s linear;
}

.rightButton {
  color: rgb(209, 87, 0);
  background: rgb(255, 240, 230);
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none;
  transition: background-color 0.5s linear;
}

.counter {
  color: rgb(209, 87, 0);
  background: rgb(255, 240, 230);
  padding: 10px;
  border-style: none;
  transition: background-color 0.5s linear;
}

@media (max-width: 450px) {
  .card {
    font-size: 5rem;
  }
}
