.img1 {
  background-image: url('../assets/img1.jpg');
}

.img2 {
  background-image: url('../assets/img2.jpg');
}

.img3 {
  background-image: url('../assets/img3.jpg');
}

.carousel {
  height: 60vw;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  transition: 0.5s;
}

.button {
  color: white;
  background: #111111;
  opacity: 0.5;
  margin: 0.5rem;
  padding: 2rem;
  border-radius: 10px;
  border-style: none;
  transition: background-color 0.5s linear;
}

.btn1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.btn2 {
  grid-column-start: 16;
  grid-column-end: 17;
  grid-row-start: 5;
  grid-row-end: 6;
}

@media (max-width: 450px) {
  .carousel {
    height: 60vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    transition: 1s;
  }

  .button {
    color: white;
    background: #111111;
    opacity: 0.5;
    padding: 2rem;
    border-radius: 10px;
    border-style: none;
    transition: background-color 0.5s linear;
  }

  .btn1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .btn2 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}