.rightButton:hover,
.leftButton:hover,
.counter:hover,
.button:hover {
  background-color: #fd992e;
  transition: background-color 0.1s linear;
}

.buttonGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: stretch;
  align-items: center;
}

.leftButton {
  color: #ff6200;
  background: #f7bb7a;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-style: none;
  transition: background-color 0.5s linear;
}

.rightButton {
  color: #ff6200;
  background: #f7bb7a;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none;
  transition: background-color 0.5s linear;
}

.counter {
  color: #ff6200;
  background: #f7bb7a;
  padding: 10px;
  border-style: none;
  transition: background-color 0.5s linear;
}

@media (max-width: 4000px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .modalMain {
    position: fixed;
    background: white;
    width: 60%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }

  .displayBlock {
    display: block;
  }

  .displayNone {
    display: none;
  }

  .innerContent {
    margin: 20px;
    display: grid;
    grid-template-columns: 66% 34%;
  }

  .img {
    width: 95%;
    height: auto;
    border-radius: 5px;
  }

  .pizzaSettings {
    display: grid;
    grid-template-rows: 20% 60% 10% 10%;
    align-items: start;
    margin-right: 15px;
  }

  .button {
    color: #ff6200;
    background: #f7bb7a;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    transition: background-color 0.5s linear;
  }

  .addButton {
    align-self: end;
  }
}

@media (max-width: 450px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .modalMain {
    position: fixed;
    background: white;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }

  .displayBlock {
    display: block;
  }

  .displayNone {
    display: none;
  }

  .innerContent {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .img {
    justify-self: center;
  }

  .description {
    margin-top: 30px;
  }

  .button {
    color: #ff6200;
    background: #f7bb7a;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    transition: background-color 0.5s linear;
  }

  .addButton {
    margin-top: 150px;
  }
}
