.nav {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.label {
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.buttonGroup {
  justify-self: end;
}


.button {
  background: #FD8D14;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  transition: background-color 0.5s linear;
}

.button:hover {
  background-color: #ff6f00;
  transition: background-color 0.1s linear;
}