.nav {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: #FD8D14;
  padding: 10px;
  border-radius: 10px;
}

.label {
  margin: 3px;
}

.buttonGroup {
  justify-self: end;
}

.button {
  background: #C51605;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  transition: background-color 0.5s linear;
}